.navbar {
  background-color: rgb(251, 99, 99);
  height: 35px;
}
.list {
  margin-top: 0%;
  display: flex;
  gap: 30px;
  list-style: none;
  align-items: center;
  justify-content: right;
}

.main {
  display: flex;
  height: 400px;
}
.first-content {
  padding: 40px;
}
#click {
  background-color: rgb(251, 99, 99);
  width: 50%;
  height: 30px;
  border: none;
  color: white;
}
.first-div {
  position: absolute;
  background: linear-gradient(to right, rgb(255, 250, 199), rgb(229, 129, 144));
  max-width: 700px;
  left: 30%;
  margin-top: 10%;
  box-shadow: 1px 3px 10px;
}
#para {
  font-size: 10px;
  font-family: "Courier New", Courier;
}
#h1 {
  font-family: Arial, Helvetica, sans-serif;
}

.burger-img {
  margin-top: 0;
}
